cache/
debug/
release/

#CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

#Qt
Makefile.Debug
Makefile.Release
object_script.*.Debug
object_script.*.Release
ui_*.h
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*
vc110.pdb